.game-info {
    display: flex;
    justify-content: space-between;
    max-width: 210px;
    padding-top: 30px;
}

.status {
    font-size: 16px;
    text-align: center;
}

.historyBtn {
    font-size: 12px;
    padding: 6px;
    background-color: #170606;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 2px 0;
}

.currentBtn {
    background-color: #170606;
    color: #55f355;
    font-weight: bold;
}

.restartBtn {
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    background-color: #55f355;
    color: #170606;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px 0;
}

.sortingBtn {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    margin: 2px 5px 0 0;
    background-color: #170606;
    color: #55f355;
}